{{+bindTo:partials.standard_devtools_article}}
<h1>Device Mode & Mobile Emulation</h1>

<p>
  The web has evolved to enable complex applications across a wide variety of devices.
  This has increased complexity in debugging during development.
  Device Mode was introduced to make the uniqueness of mobile development available on desktop, easily.
</p>


<figure>
  <img src="device-mode-files/device-mode-intro.gif" alt="media queries view">
</figure>

<p class="note">
  <b>Note</b>: Some of our documentation may be ahead of the stable version of Chrome.
  If you are unable to locate a feature listed, we recommend trying <a href="https://www.google.com/intl/en/chrome/browser/canary.html">Chrome Canary</a> which contains the latest version of the DevTools.
</p>

<div class="collapsible">
  <h2 id="enable-device-mode">Enabling Device Mode</h2>
  <p>
    To enable device mode, press the Toggle Device Mode button <img src="../images/emulation-off-icon.png" alt="device mode off icon">.
    When device mode is enabled this icon will turn blue <img src="../images/emulation-on-icon.png" alt="device mode on icon">.
    This adds a simple overlay to the viewport.
  </p>
  <figure>
    <img src="device-mode-files/initial-start.png" alt="Initial start for device mode">
    <figcaption>
      The initial device mode view.
    </figcaption>
  </figure>
</div>

<div class="collapsible">
  <h2 id="screen-emulation">Screen emulation</h2>
  <p>
    Emulating different screen resolutions is essential to responsive design.
  </p>
  <figure>
    <img src="device-mode-files/screen-controls.png" alt="screen controls">
    <figcaption>
      Use the device preset dropdown to quickly emulate a particular device.
      You can also toggle the individual <a href="#device-emulation">device settings</a> which is directly below the preset dropdown.
      These individual settings are, Resolution, Device Pixel Ratio, and Fit viewport.
    </figcaption>
  </figure>
  <dl>
    <dt><strong>Screen resolution</strong></dt>
    <dd>
      Matches the actual CSS pixel dimensions (width and height) of the selected device.
      For example, selecting the Nexus S will emulate a resolution of 480x800.
    </dd>
    <dt><strong>Swap dimensions</strong></dt>
    <dd>
      The button following the dimension values will swap the width and height.
    </dd>
    <dt><strong>Device Pixel Ratio</strong></dt>
    <dd>
      Matches the <abbr title="Device Pixel Ratio">DPR</abbr> of the selected device.
      This allows emulation of a retina device from a non-retina machine and vice versa.
      It also means media queries such as <code>@media only screen and (min-device-pixel-ratio: 2)</code> can be tested.
    </dd>
    <dt><strong>Fit</strong></dt>
    <dd>
      Ensures the emulated device screen is completely visible within your browser window, shrinking it to fit if neccessary.
      This setting does not emulate the device differently.
    </dd>
  </dl>
  <figure>
    <img src="device-mode-files/viewport-fit.png" alt="fit mode">
    <figcaption>
      Fitting a large, hi-DPI viewport within a smaller screen space.
    </figcaption>
  </figure>
</div>

<div class="collapsible">
  <h2 id="device-emulation">Device Presets</h2>
  <p>
    No one wants to set the <abbr title="User Agent">UA</abbr> string by hand or change the resolution all the time.
    For this reason, there are a variety of device configurations built in.
    These will do the following:
  </p>
  <ul>
    <li><a href="#user-agent-spoofing">Set the <abbr title="User Agent">UA</abbr> string</a> for requests.</li>
    <li>Configure the devices resolution and pixel ratio.</li>
    <li>Enable touch emulation if applicable.</li>
    <li>Emulate mobile scrollbar overlays and meta viewport.</li>
    <li>Autosize (boost) the text as it would on a mobile device for pages without defined viewport</li>
  </ul>
</div>

<div class="collapsible">
  <h2 id="media-queries">Media Query Inspector</h2>
  <p>
    A critical part of implementing responsive sites is using <a href="http://docs.webplatform.org/wiki/css/mediaqueries">media queries</a>.
    The DevTools provide two aids in helping you see the different places being targeted.
    You may see orange indicators <img src="device-mode-files/media-query-point-on-ruler.png" alt="orange indicator"> in the horizontal ruler which signifies a break point.
    </p>
    <figure>
      <img src="device-mode-files/mq-inspector.gif" alt="media queries view">
    </figure>
    <p>
    The media queries button <img src="../images/view-media-queries-off-icon.png" alt="media queries off icon">  on the left will bring up a panel that displays a bar for each query detected in your stylesheets.
    If you click on one, the resolution setting will be configured to display that query. Right-click to reveal where that media query is defined in CSS.
  </p>
  <figure>
    <img src="device-mode-files/media-queries.png" alt="media queries view">
  </figure>
</div>



<div class="collapsible">
  <h2 id="clearing-emulations">Clearing Emulations</h2>
  <p>
    If you'd like to work with the media query inspector but not have any mobile emulation activity turned on, click the aptly named clear all overrides button <img src="../images/clear-emulation-overrides-icon.png" alt="clear overrides"> on the right.
    This will reset everything to no emulation; remember to refresh the page also.
  </p>
</div>


<div class="collapsible">
  <h2 id="network-conditions">Network Conditioning</h2>
  <p>
    One key aspect for the responsiveness of a site is its network performance.
    Fear not, the DevTools offers network throttling.
    Now you can test your site against different network conditions and optimize for them.
  </p>
  <p>
    Network conditioning does bandwidth throttling and latency manipulation.
    The bandwidth is how much speed the client has to talk to the server while latency is the delay in connection.
    A few presets are available in the network dropdown, as well as the ability to go completely offline.
    All changes only affect this tab's traffic; your other tabs are unaffected.
  </p>
  <figure>
    <img src="device-mode-files/network-controls.png" alt="network controls">
    <figcaption>
      The dropdown sets the network conditions.
      The input sets the userAgent string.
    </figcaption>
  </figure>
</div>


<div class="collapsible">
  <h2 id="more-controls">More controls</h2>
  <p>
    To get more precise controls over the emulations taking place, access the emulation drawer.
    You access this by pressing the ellipses button <img src="../images/more-overrides-icon.png" alt="more overrides"> in the bottom right corner of the controls.
    This will bring up the emulation panel in the drawer.
  </p>
  <figure>
    <img src="device-mode-files/emulation-drawer.png" alt="emulation drawer">
    <figcaption>
      The emulation drawer provides more granular control for overrides.
      It also provides some more uncommon overrides for testing.
    </figcaption>
  </figure>
</div>

<div class="collapsible">
  <h3 id="device-pane">Device Emulation</h3>
  <p>
    The overrides available in the devices pane offers more finegrained control.
  </p>
  <p>
    <b>Emulate mobile</b> does a few things.
    Primarily, it zooms the page out to the physical default viewport of the device. In the case of the Nexus 4, the device-width would be 768.
    Then it  makes sure scrollbars overlay (as they do on mobile and OS X),
    Values such as <code>window.screen</code> are in CSS pixels.
    Finally, the default body width is set to 980 pixels.
  </p>
</div>

<div class="collapsible">
  <h3 id="media-pane">Media Emulation</h3>
  <p>
    If you want to test how the page looks in print mode, you can toggle on that  <a href="http://www.w3.org/TR/CSS21/media.html#media-types">CSS media type</a>.
    If <b>print</b> is chosen, print stylesheets will be applied and "screen" media will not.
  </p>
</div>

<div class="collapsible">
  <h3 id="touch-emulation">Touch Emulation</h3>
  <p>
    The sensors pane allows the emulation of sensors uncommon to desktops.
    These include touch events, geolocation, and device orientation data.
  </p>
  <p>
    Touch is an input method that's difficult to test on the desktop, since most desktops don't have touch input. Having to test on mobile can lengthen your development cycle, since every change you make needs to be pushed out to a server and then loaded on the device.
  </p>
  <p>
    <b>Emulate touch screen</b> fires touch events (e.g. <code>touchstart</code>, <code>touchmove</code>, and <code>touchend</code>) the same as it does on a mobile device. The  events and their sequence will be identical.
      While emulating touch events, the cursor will change and look like a small circle to emulate a fingertip size. This mode does not disable mouse events entirely, as they are fired on touch devices. Try this <a href="http://patrickhlauke.github.io/touch/tests/event-listener.html">touch event listener test page</a>, touch is another option we can debug with.
  </p>
  <p>
    Only single points are emulatable unless you have a device that supports multi-touch.
    For more information on multi-touch emulation, check out <a href="http://www.html5rocks.com/en/mobile/touch/#toc-touchdev">HTML5 Rocks</a>.
  </p>

  <figure>
    <img width="495" src="device-mode-files/scrolling-emulation.gif" alt="Emulating pinch to zoom"/>
    <figcaption>
      <b>Tip: </b> <kbd class="kbd">Shift</kbd> and drag using the mouse will emulate "pinch".
    </figcaption>
  </figure>


  <p><code>elem.ontouch<i>*</i></code> handlers will currently <a href="https://code.google.com/p/chromium/issues/detail?id=133915">not fire</a> with this feature. Use the <code>--touch-events</code> <a href="http://www.chromium.org/developers/how-tos/run-chromium-with-flags">command line flag</a> to let Chrome trigger these handlers.
</div>
<div class="collapsible">
  <h3 id="sensors-pane">Sensor Emulation</h3>

  <p>
    You can emulate coordinates for the <a href="http://www.w3.org/TR/geolocation-API/">Geolocation API</a>.
    The DevTools support both overriding position values for <code>navigator.geolocation</code> and simulating geolocation not being available.
  </p>
   <figure>
    <img src="device-mode-files/accelerometer.png" alt="Acceleromter control">
  </figure>
  <p>
    Finally, emulation of the device orientation sensors for use with the <a href="http://www.w3.org/TR/screen-orientation/">Orientation API</a>.
    To emulate the values the API calls will recieve, you can manipulate the paramters as follows:
  </p>
  <dl>
    <dt><b><abbr title="alpha">α</abbr></b></dt>
    <dd>Rotation around the z-axis.</dd>
    <dt><b><abbr title="beta">β</abbr></b></dt>
    <dd>Left-to-right tilt.</dd>
    <dt><b><abbr title="gamma">γ</abbr></b></dt>
    <dd>Front-to-back tilt.</dd>
  </dl>
  <p class="note">
    <b>Note: </b> If you have JavaScript that checks for sensors onload (such as modernizr) then you will need to reload the page for those to trigger.
  </p>
</div>

<div class="collapsible">
  <h2 id="limitations">Limitations</h2>
  <p>
    As powerful as the DevTools are, there are some things that currently aren’t emulated.
    Some examples are:
  </p>
  <ul>
    <li>WebGL will operate when emulating an iOS7 device even though they don’t support it.</li>
    <li>Line-height will work while operating as Opera Mini even though that browser doesn’t support it.</li>
    <li>iOS7 has MathML support, which Chrome does not.</li>
    <li><a href="hhttps://github.com/scottjehl/device-bugs/issues/2">iOS5 orientation zoom bug</a> is not emulated.</li>
    <li>CSS rule limits such as those in <a href="http://blogs.msdn.com/b/ieinternals/archive/2011/05/14/10164546.aspx">Internet Explorer</a>.</li>
    <li>GPU and CPU behavior of devices.</li>
    <li>Browser UI
      <ul>
        <li>System displays like the address bar.</li>
        <li>Native displays such as <code>&lt;select></code> elements are not emulated as a modal list.</li>
        <li>Depending on your OS some enhancements like a number input won’t pop open a number keypad. Windows 8 at least will do this.</li>
      </ul>
    </li>
    <li><a href="https://code.google.com/p/chromium/issues/detail?id=334120">UA for appcache requests</a></li>
    <li><a href="https://code.google.com/p/chromium/issues/detail?id=119767">UA for view source</a></li>
    <li>The compositor layer works the same throughout while certain devices act differently. <a href="https://code.google.com/p/chromium/issues/detail?id=345520">Like android</a>.</li>
  </ul>

  <p>
    Despite these limitations around emulating browser quirks and issues, the emulation offered in Device Mode is rather complete for most tasks.
    When you need to go to a device, you can get a lot of insight from <a href="remote-debugging">remote debugging</a>.
  </p>
</div>

<div class="collapsible">
  <h2 id="diving-deeper">Diving Deeper</h2>
  <p>
    The <a href="//youtu.be/t1PxmN_QNFI"> Developing across Devices - DevTools in 2014</a> talk from Google I/O 2014 goes in depth with device mode:
  </p>
  <div class="video-container">
    <iframe width="640" height="360" src="//www.youtube.com/embed/t1PxmN_QNFI?start=616" frameborder="0" allowfullscreen></iframe>
  </div>

  <p>
    The emulation overrides complement <a href="remote-debugging">remote debugging</a>.
    The emulated sensors will override the device’s native sensors.
    Remote debugging also allows for testing against actual device specifications, such as CPU and GPU limits.
  </p>
</div>

<div class="collapsible">
  <h2 id="examples">Examples</h2>

  <h3 id="debugging-touch-events">Debugging Touch Events</h3>
    <ol>
      <li>Open the <a href="http://www.paulirish.com/demo/multi">Canvas Fingerpaint Demo</a>.</li>
      <li>Navigate to the Sources panel.</li>
      <li>Expand the "Event Listener Breakpoints" sub-panel.
      <li>Check the "touchstart" and "touchmove" events under "Touch".</li>
      <li>Move your curosr over the paint area.</li>
      <li>The debugger should pause on the draw() method.</li>
    </ol>
    <figure>
      <img src="device-mode-files/debugging-touch-events.png" alt="Sources pane listening for touchstart and touchmove events.">
    </figure>
    <p>
      You may also monitor touch events as they fire on an element in the console.
      Use monitorEvents from the <a href="https://developer.chrome.com/devtools/docs/commandline-api#monitoreventsobject-events">command line API</a>:
      <br>
      <code>monitorEvents(document.body, 'touch')</code>
    </p>
    <h4>Multi-touch</h4>
    <p>
      Multi-touch events can be simulated if you have a device with touch input, such as a modern Apple MacBook.
      For further assistance with multi-touch event simulation, see the "Developer tools" chapter of the <a href="http://www.html5rocks.com/en/mobile/touch/#toc-touchdev">Multi-touch web development guide on HTML5 Rocks</a>.
    </p>

  <h3 id="user-agent-spoofing">User Agent Spoofing</h3>
  <ol>
    <li>Navigate to the <a href="https://www.google.com">Google homepage</a>.</li>
    <li>Enable Device Mode.</li>
    <li>Select "Nexus 4" from the device list. You will then see the <abbr title="User Agent">UA</abbr> string in the network section update automatically.
      <figure>
        <img src="device-mode-files/ua-spoof-example.png" alt="Nexus 4 selected from devices">
        <figcaption>
          Nexus 4 device selected and the <abbr title="User Agent">UA</abbr> string for the device.
        </figcaption>
      </figure>
    </li>
    <li>Refresh the page.</li>
  </ol>
  <figure>
    <table>
      <thead>
        <tr>
          <td>Before:</td>
          <td>After:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="device-mode-files/ua-spoof-google-before-example.png" alt="Before User Agent Spoofing"></td>
          <td><img src="device-mode-files/ua-spoof-google-after-example.png" alt="After User Agent Spoofing"></td>
        </tr>
      </tbody>
    </table>

    <figcaption>
      Google's homepage before and after <abbr title="User Agent">UA</abbr> spoofing.
    </figcaption>
  </figure>

  <h3 id="geolocation-overrides">Geolocation Overrides</h3>
  <ol>
    <li>Open the <a href="http://html5demos.com/geo">Geolocation Demo</a> and allow the page access to your position.</li>
    <li>Open the Emulation Panel</li>
    <li>Enable "Emulate Geolocation Coordinates" in the sensors pane.</li>
    <li>Enter the following values:
      <!-- The seemingly odd class names here are microformats markup to bots seeing the page. http://microformats.org/wiki/h-geo -->
      <ul class="h-geo">
        <li>Latitude: <span class="p-latitude">41.4949819</span></li>
        <li>Longitude: <span class="p-longitutde">-0.1461206</span></li>
      </ul>
    </li>
    <li>Refresh the page for the demo to see your new coordinates.</li>
  </ol>
  <figure>
    <img src="device-mode-files/geolocation-online.png" alt="geolocation online">
    <figcaption>
      The demo displays a map with a marker at your location.
    </figcaption>
  </figure>
  <p>
    If you check “Emulate position unavailable” and refresh then you will see that the location lookup as failed.
  </p>
  <figure>
    <img src="device-mode-files/geolocation-offline.png" alt="geolocation offline">
    <figcaption>
      The demo displays a failed message without a map.
    </figcaption>
  </figure>
  <h3 id="device-orientation-overrides">Device Orientation Overrides</h3>
  <ol>
    <li>Open the <a href="http://www.html5rocks.com/en/tutorials/device/orientation/deviceorientationsample.html">Device Orientation Demo</a> at HTML5 Rocks</li>
    <li>Open the emulation panel.</li>
    <li>Enable "Accelerometer" in the sensors pane.</li>
    <li>Set the values to the following:
      <ul>
        <li><abbr title="alpha">α</abbr> - 0</li>
        <li><abbr title="beta">β</abbr> - 10</li>
        <li><abbr title="gamma">γ</abbr> - 60</li>
      </ul>
    </li>
  </ol>
  <p>
    This alters the left/right tilt and front/back tilt.
    In this case resulting in our application being emulated as rotating in a clockwise direction.
  </p>
  <figure>
    <img src="device-mode-files/device-orientation-example.png" alt="Device Orientation Example">
    <figcaption>
      The look of the example image after emulation takes effect.
    </figcaption>
  </figure>

  <h3 id="css-media-types-emulation">CSS Media Types Emulation</h3>
  <ol>
    <li>Navigate to <a href="http://www.html5rocks.com/en/">HTML5 Rocks</a>.</li>
    <li>Open the Emulation Panel.</li>
    <li>Enable "CSS Media" in the media pane.</li>
    <li>Select "Print" from the media type dropdown.</li>
    <li>The page will now adjust for the selected media type.</li>
  </ol>
  <figure>
    <table>
      <thead>
        <tr>
          <td>Before:</td>
          <td>After:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="device-mode-files/emulatecss-before.jpg" alt="Before CSS type emulation."></td>
          <td><img src="device-mode-files/emulatecss-afterwards.jpg" alt="After CSS type emulation."></td>
        </tr>
      </tbody>
    </table>
    <figcaption>
      HTML5 Rocks before and after print type emulation.
    </figcaption>
  </figure>

</div>

{{/partials.standard_devtools_article}}
